.fl{
    float: left;
}
.fr{
    float: right;
}
.tl{
    text-align: left;
}
.tc{
  text-align: center;
}
.tr{
    text-align: right;
}

/*文字校对*/
.pfread {
    width: 100%;
    height: 100%;
    position: relative;
}

.pfread-in {
    padding-top: 15px;
    padding-left: 15px;
    width: calc(100% - 30px);
}

.pfread .left {
    width: 49%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 1%;
}

.pfread .left .hd {
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
}

.pfread .left .hd span i {
    top: 8px;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.pfread .left .hd .btns {
    display: inline-block;
}

.pfread .left .hd .btns span {
    display: inline-block;
    width: auto;
    border-radius: 18px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
    color: #2e363f;
    position: relative;
}

.pfread .hd span i.reduce {
    background-image: url(../img/proofread/reduce.png);
    transition: all 0.2s;
}
.pfread .hd span i.reduce:hover {
    transform: scale(1.2);
}
.pfread .hd span i.enlarge {
    background-image: url(../img/proofread/enlarge.png);
    transition: all 0.2s;
}
.pfread .hd span i.enlarge:hover {
    transform: scale(1.2);
}
.pfread .hd span i.fullscrean {
    background-image: url(../img/proofread/fullscrean.png);
    transition: all 0.2s;
}
.pfread .hd span i.fullscrean:hover {
    transform: scale(1.2);
}

.pfread .left .bd {
    overflow: auto;
    height: calc(100% - 80px);
}

.pfread .right {
    width: 49%;
    margin-left: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.pfread .right .hd {
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    color: #2e363f;
}

.pfread .right .hd .newline {
    position: relative;
    padding-right: 30px;
}

.pfread .right .hd span i {
    top: 8px;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.pfread .right .hd .btns {
    display: inline-block;
}

.pfread .right .hd .btns span {
    display: inline-block;
    width: auto;
    border-radius: 18px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
    color: #2e363f;
    position: relative;
}

.pfread .right .hd .newline {
    margin-right: 13px;
}

.pfread .right .hd .newline:before{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background: url(../img/proofread/newline.png) no-repeat;
    width: 23px;
    height: 22px;
}
.pfread .right .hd span i.addupline {
    background-image: url(../img/proofread/addline-up.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.addupline:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.adddownline {
    background-image: url(../img/proofread/addline-down.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.adddownline:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.previous {
    background-image: url(../img/proofread/previous.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.previous:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.next {
    background-image: url(../img/proofread/next.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.next:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.variants-highlight {
    background-image: url(../img/proofread/variants-highlight.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.variants-highlight:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.variants-normal {
    background-image: url(../img/proofread/variants-normal.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.variants-normal:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.emptyplaces-show {
    background-image: url(../img/proofread/emptyplaces-show.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.emptyplaces-show:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.emptyplaces-hidden {
    background-image: url(../img/proofread/emptyplaces-hidden.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.emptyplaces-hidden:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.deleteline {
    background-image: url(../img/proofread/deleteline.png);
    width: 50;
    transition: all 0.2s;
}
.pfread .right .hd span i.deleteline:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.doubts {
    background-image: url(../img/proofread/doubts.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.doubts:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.check {
    background-image: url(../img/proofread/check.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.check:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.ok {
    background-image: url(../img/proofread/ok.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.ok:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.help {
    background-image: url(../img/proofread/help.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.help:hover {
    transform: scale(1.2);
}
.pfread .right .hd span i.returnback {
    background-image: url(../img/proofread/returnback.png);
    transition: all 0.2s;
}
.pfread .right .hd span i.returnback:hover {
    transform: scale(1.2);
}

.pfread .right .bd {
    overflow: auto;
    height: calc(100% - 80px);
}

/*选择框*/
.pfread .pfread-dialog {
    /* top: 45px;
    left: 135px; */
    padding: 10px;
}

.pfread .pfread-dialog:before {
    left: 31%;
}

.pfread .pfread-dialog .item {
    margin-bottom: 10px;
}

.pfread .pfread-dialog .item dt {
    display: inline-block;
    width: 72px;
    text-align: right;
    margin-right: 5px;
    font-weight: normal;
    font-size: 14px;
}

.pfread .pfread-dialog .item dd {
    display: inline-block;
}

.pfread .pfread-dialog .item input[type="text"] {
    display: inline-block;
    border: 0;
    width: 250px;
    padding: 0 5px;
    height: 36px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.pfread .pfread-dialog .item .text {
    display: inline-block;
    width: 250px;
    padding: 0 5px;
    min-height: 36px;
    line-height: 36px;
    background: #f5f5f5;
    cursor: pointer;
    font-weight: 100;
    white-space: normal;
}

.dialog-common {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .76);
    padding: 10px;
    z-index: 2;
    height: auto;
    white-space: nowrap;
    border-radius: 5px;
}

.dialog-common:before {
    position: absolute;
    width: 12px;
    height: 12px;
    content: " ";
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(225deg);
    border: 1px solid transparent;
    background-color: #fff;
    top: -6px;
    left: 50%;
    margin-left: -103px;
    border-top: none;
    border-left: none;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}